<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- this is an sample config file -->
  <indigo>
    <exceptions>
      <policy>
        <filter></filter>
        <filter></filter>
      </policy>
      <policy>
        <filter></filter>
      </policy>
    </exceptions>
  </indigo>
</configuration>