<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="indigo">
      <section name="membership" type="Indigox.Common.Membership.Configuration.MembershipSection, Indigox.Common.Membership"/>
    </sectionGroup>
  </configSections>
  <indigo>
    <membership>
      <providerFactory type="Indigox.Common.Membership.FileImpl.ProviderFactory, Indigox.Common.Membership.FileImpl" />
    </membership>
  </indigo>
</configuration>