<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="indigo">
      <section name="membership" type="Indigox.Common.Membership.Configuration.MembershipSection, Indigox.Common.Membership"/>
    </sectionGroup>
  </configSections>

  <indigo>
    <membership>
      <providerFactory type="Indigox.Common.Membership.FileImpl.ProviderFactory, Indigox.Common.Membership.FileImpl" />
    </membership>
  </indigo>

  <appSettings>
    <!--<add key="SessionType" value="Indigox.Common.Session.TestSession, Indigox.Common.Session"/>-->
  </appSettings>

</configuration>