<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="indigo">
      <section name="database" type="Indigox.Common.Data.Configuration.DatabaseSection, Indigox.Common.Data"/>
      <section name="factories" type="Indigox.Common.NHibernateFactories.Configuration.FactoriesSection, Indigox.Common.NHibernateFactories" />  
    </sectionGroup>
  </configSections>

  <indigo>
    <database>
      <connections>
        <add name="BPM" connectionString="Data Source=tb-tasql-01.tb.com;Initial Catalog=D_EIP_BPM;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient"/>
      </connections>
    </database>
    <factories>
      <factory assemblyName="Indigox.BPM.ObjectModel" path="Config\bpm.nhb.cfg.xml" connectionString="BPM" autoBind="true" />
    </factories>
  </indigo>

</configuration>