<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="DebugAppender" />-->
    </root>

    <logger name="Indigox" additivity="false">
      <level value="ALL" />
      <!--<appender-ref ref="ConsoleAppender" />-->
    </logger>

    <logger name="Indigox.CMS.Security" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    
    <logger name="Indigox.Common.Data.SqlBuilder" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <!-- 重要的配置，记录操作日志，请不要随意修改 -->
    <logger name="Indigox.Web.Remoting.Commands.LogCommand" additivity="false">
      <level value="INFO" />
      <appender-ref ref="OperationLogRollingFileAppender" />
      <!--<appender-ref ref="OperationLogDatabaseAppender" />-->
    </logger>

    <logger name="NHibernate" additivity="false">
      <level value="DEBUG" />
      <!--<appender-ref ref="NHibernateDebugAppender" />-->
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="NHibernateDebugAppender" />
    </logger>

    <!-- Appenders -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
        <conversionPattern value="[%d] %class %t%n" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
        <conversionPattern value="[%d] %class %t%n" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
        <conversionPattern value="[%d] %class %t%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\rolling.log" />
      <encoding value="UTF-8" />
      <!--是否在文件中追加-->
      <appendToFile value="true" />
      <!--按照文件的大小进行变换日志文件-->
      <rollingStyle value="Size" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="10" />
      <!--最大文件大小-->
      <maximumFileSize value="100KB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <threshold value="DEBUG" />
      <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
        <conversionPattern value="[%d] %class %t%n" />
      </layout>
    </appender>

    <appender name="NHibernateDebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="NHibernateRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\nhibernate.log" />
      <encoding value="UTF-8" />
      <appendToFile value="true" />
      <staticLogFileName value="true" />
      <rollingStyle value="Date" />
      <datePattern value=" yyyy-MM-dd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <threshold value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="MessageRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\message.log" />
      <encoding value="UTF-8" />
      <!--是否在文件中追加-->
      <appendToFile value="true" />
      <!--按照文件的大小进行变换日志文件-->
      <rollingStyle value="Size" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="10" />
      <!--最大文件大小-->
      <maximumFileSize value="100KB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <threshold value="DEBUG" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="ERROR" />
        <AcceptOnMatch value="false" />
      </filter>
      <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
        <conversionPattern value="[%d] %t%n%n%n" />
      </layout>
    </appender>

    <appender name="OperationLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\operation.log" />
      <encoding value="UTF-8" />
      <!--是否在文件中追加-->
      <appendToFile value="true" />
      <!--按照文件的大小进行变换日志文件-->
      <rollingStyle value="Size" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="10" />
      <!--最大文件大小-->
      <maximumFileSize value="100KB" />
      <!--日志文件名是否为静态-->
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <threshold value="DEBUG" />
      <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
        <conversionPattern value="[%d] %t%n" />
      </layout>
    </appender>
    <appender name="OperationLogDatabaseAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=TB-TASQL-01.tb.com;initial catalog=D_EIP_BPM;integrated security=false;User ID=sa;Password=P@ssw0rd" />
      <commandText value="INSERT INTO OperationLog ([Date],[Thread],[Level],[Logger],[Message],[Title],[UserHostAddress],[RequestUrl],[Operator],[OperatorID],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @title, @userHostAddress, @requestUrl, @operator, @operatorId, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@title" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OrganizationalPersonHostAddress" />
        <dbType value="String" />
        <size value="32" />
        <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
          <conversionPattern value="%context{OrganizationalPersonHostAddress}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@requestUrl" />
        <dbType value="String" />
        <size value="32" />
        <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
          <conversionPattern value="%context{RequestUrl}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@operator" />
        <dbType value="String" />
        <size value="200" />
        <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
          <conversionPattern value="%context{Operator}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@operatorId" />
        <dbType value="String" />
        <size value="12" />
        <layout type="Indigox.Common.Logging.Log4net.Layout.LogEntryLayout">
          <conversionPattern value="%context{OperatorID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
</configuration>